*{
 border: 0;
 margin: 0;
 padding: 0;
}
body{
    background-color: #15161a;
    font-family: arial;
    font-weight: bold;
    font-size: 15px;
}

.solaCek{
    float: left;
}
.sagaCek{
    float: right;
}
.temizleyici{
    clear: both;
}
.anaKutu{

}

.ustMenu{
 background-color: #2a2b30;
}

.icerik{

}

.ustMenu .ustSol{
}
.ustMenu .ustSol .solNesne{
    color: #ffffff; 
    padding: 17px 20px;
}

.ustMenu .ustSol .solNesne i{
    margin-right: 5px;
   }
.ustMenu .ustSag{
    color: #26df2e;
}
.ustMenu .ustSag .sagNesne{
    padding: 17px 20px;
}

.ustMenu .ustSag .sagNesne .arama{
    color: white; 
    font-size:23px;
    padding: 0px 20px;
}

.ustMenu .ustSag .sagNesne .sepetYazisi{
    color: white;
}
.ustMenu .ustSag .sagNesne.sepetButonu{
    background-color: #26df2e;
    color: white;
}

.altMenu{
height: 81px;
}

.altMenu .logo{
    margin-left: 10px;
}
.altMenu .altMenuNesne{
    color: white;
    float: right;
    margin: calc((81px - 17px)/2) 12px;
}

.slider{
width: 1420px;
height: 600px;
position: relative;
}

.sliderOk{
    position: absolute;
    color: black;
    background-color: white;
    top: 300px;
    font-size: 30px;
    padding: 3px 10px;
    border-radius: 4px;
}
.slider .solSlider{
    left: 50px;
    float: left;
}
.slider .okKapsayici{

}
.slider  .sagSlider{
    right: 50px;
    float: right;
}

.cokSatanlar{
    color: white;
}
.cokSatanlar .cokSatanKapsayici{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
}
.cokSatanlar .urun{
    height: 590px;
    background: radial-gradient(ellipse at center -20%,#4c4e58 0,#2a2b30 100%);
    width: 280px;
    margin: 10px;
}

.cokSatanlar .urun:hover{
    border: 2px solid #26df2e;
    height: 586px;
    width: 276px;
}