<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/cihaz" method="get">
        <input type="text" name="cihazAdi" value="iphone">
        <button type="submit">ara</button>
    </form>
    <%- include('bolumler/footer'); -%>

</body>

</html>