<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

</head>

<body>
    <div class="container card mt-4">
        <table class="table table-dark">
            <tr>
                <th>Adi</th>
                <th>Durum</th>
                <th>Aciklama</th>
            </tr>
            <% bolum.forEach(function(bl){ %>
            <tr>
                <td>
                    <%= bl.Adi %>
                </td>
                <td>
                    <%= bl.Durumu %>
                </td>
           
               
            </tr>
            <% }); %>

        </table>
    </div>
</body>

</html>