* {
    margin: 0;
    padding: 0;
    bottom: 0;
}
.temizleyici{
    clear: both;
}
.kolon{
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
}

body{
    background-color: #f5f5f5;
}
.kapsayici{
}

.tepeMenu{
    background-color: #2b373a;
    height: 70px;
    font-family: "Titillium Web",sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}
.logo{
    margin-top: 8px;
}
.tepeMenu .tepeMenuSol
{
    float: left;
}
.tepeMenu .tepeMenuSag
{
    padding-top: 20px;
    float: right;
}
.tepeMenu .tepeMenuSag button{
    border: none;
    padding: 5px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    
    margin-right: 12px;
}
.tepeMenu .tepeMenuSag button.yesil
{
    background-color: #00d7b3;
    margin-left: 20px;
}
.tepeMenu .tepeMenuSag button.mavi
{
    background-color: #1cbdf9;
}
.tepeMenu .tepeMenuSag i:nth-child(2) {
  
margin-left: 5px;
}
.anaMenu{
    background-color: #fff;
}
.anaMenu .menuElement{
    float: left;
    border-right: 1px solid #ebebeb;
    color: #2b373a;
    font-size: .875em;
    font-weight: 700;
    padding: 0 30px;
    line-height: 71px;
    /* height: 71px;
    padding-top:calc((71px - .875em)/2  ) ; */
    font-family: "Titillium Web",sans-serif;
}
.anaMenu .menuElement i{
    font-size: 8px;
}

.arama{
    background-image: url('http://picsum.photos/1800/400');


}
.arama .seffaf{
    background-color: rgba(50, 50, 50, .8);
}
.arama .kolon{
    padding-top: 150px;
    height: 250px;
    color: white;
    text-align: center;
}

.arama .kolon p{
    color: #16ffd8; 
    font-size: 3em; 
    font-family:sans-serif;
    font-weight: 700;
}
.yazilimlar .kolon{
    margin-top: 20px;
}
.yazilimlar .kolon .yazilim{
    height: 334px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    width: 260px;
    margin-right: 30px;
    float: left;
    
    margin-bottom: 26px;
}
.yazilimlar .kolon .yazilim img{
    margin:calc((260px - 250px)/2)
}