<table>
        <tr>
            <td>hakkımızda</td>
            <td>adres</td>
            <td>mahhelesi </td>
            <td>mahhelesi </td>
            <td>mahhelesi </td>
            <td>mahhelesi </td>
            <td>mahhelesi </td>
        </tr>
    </table>