<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <table>
        <style>
            table tr td {
                border: 1px solid red;
            }
        </style>
    </table>
</head>

<body>
    <table>
        <% veriler.forEach(function(cihaz){ %>
        <tr>
            <td>
                <%= cihaz.DeviceName%>
            </td>
        </tr>
        <% }); %>
    </table>
    <%- include('footer') %>
</body>

</html>