<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        table tr td {
            border: 1px solid red;
        }
    </style>
</head>

<body>
    <table>
        <% dataLar.forEach(function(cihaz){ %>
        <tr>
            <td>
                <%=cihaz.Brand %>
            </td>
            <td>
                <%=cihaz.DeviceName %>
            </td>
            <td>
                <%=cihaz.dimensions %>
            </td>
        </tr>
        <% }); %>
    </table>
    <%- include('bolumler/footer'); -%>
</body>

</html>