@import 'degiskenler.scss';
@import 'mixins.scss';

.font-belirleyici {
    font-family: Arial, Helvetica, sans-serif;
    color:red;
}

body {
    @extend .font-belirleyici;

    background-color: $anaRenk;

    h3 {
        font-size: 30px;
        margin: 0;
        margin-left: 1%;
    }
}

.kapsayici {
    margin-left: $anaBosluk;
    width: 80%;
    margin: 0 auto;
    /*ortaya hizalar*/
    height: 250px;
}

.icerik {
    .portfolyo {
        display: flex;
        flex-wrap: wrap;

        .yapilanis {
            margin: {
                top: 2%;
                left: 1%;
                right: 1%;
                bottom: 2%;
            }
            padding: 1%;
            width: 16%;
            background-color: white;
            box-shadow: 5px 10px 20px #c3c3c3;

            //&& selector nasıl çalışır denenecek.
            //Baran hatırlatacak.
            &:hover {
                background-color: whitesmoke;
            }

            img {
                width: 100%;
            }
        }
    }

    .yetkinlikler {
        .yetkinlik {
            background-color: white;

            margin: {
                bottom: 20px;
            }
            padding: 5px;
            display: flex;

            .yetkinlikAdi {
                width: 50px;
                // flex-grow: 1;     
            }

            .yetkinlikSeviyesi {
                // flex-grow: 9;
                background-color: red;
            }

            @include seviye-olustur // .seviye-1{
            //     background-color: nth($yetkinlikDuzeyi,1);
            //     width: 50px;
            // }


        }
    }
}

//$yetkinlikDuzeyi.set-nth($yetkinlikDuzeyi,2,blue);